// import fonts

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); // font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap'); // font-family: 'Fira Mono', monospace;

// variables

$font-sans: 'Rubik', sans-serif !default;
$font-mono: 'Fira Mono', monospace !default;

$black: #151515 !default;
$light-black: #1a1a1a;
$grey: #b9b9b9;
$white: #f5f5f5;

$dark-red: #b80000;
$red: #ff2727;

$button-fill: rgba($red, 0.1);

$shadow: rgba($dark-red, 0.5);
