@use 'constants' as c;
@use 'header';
@use 'content';

// defaults

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: c.$black;
  color: c.$grey;
  line-height: 1.5;
  font-family: c.$font-sans;
  font-size: 1rem;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

section {
  padding: 3.5em 0;
}

img {
  display: block;
  border-radius: 5px;
}

.filter {
  display: inline-block;
  border-radius: 5px;

  img {
    filter: grayscale(100%);
    transition: filter 200ms ease-in;

    &:hover {
      filter: none;
    }
  }
}

@media only screen and (min-width: 769px) {
  body {
    overflow: auto !important;
  }
}

// text selection

::selection {
  background: c.$dark-red;
  color: c.$white;
}

::-moz-selection {
  background: c.$dark-red;
  color: c.$white;
}

// scrollbar

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* track */
::-webkit-scrollbar-track {
  background: c.$black;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: c.$red;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: c.$dark-red;
}

// logo

#logo {
  color: c.$red;
  height: 42px;
  width: 42px;

  polygon {
    fill: none;
    stroke: currentColor;
  }

  text {
    fill: currentColor;
    stroke: none;
  }
}

// loading screen

.loading-screen {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;

  &.fade #logo {
    opacity: 0;
    top: -500px;
  }

  #logo {
    position: relative;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    transition: opacity 500ms, top 1000ms;
    transition-delay: 500ms;
    cursor: default;
  }

  text {
    visibility: hidden;
  }

  polygon {
    stroke-dasharray: 1000;
    stroke-dashoffset: 999;
    animation: draw 3s linear 0s 1 normal forwards;
    animation-play-state: paused;
  }

  &.play {
    polygon {
      animation-play-state: running;
    }

    text {
      visibility: visible;
    }
  }

  &.pause {
    polygon {
      animation-play-state: paused;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 700;
  }
}

/* section headings */

.title {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(1.4rem, 5vw, 2rem);
  margin: 0.25em 0 1.25em 0;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 0.5em;
    background-color: rgba(c.$grey, 0.25);
  }
}

@media only screen and (min-width: 769px) {
  .title::after {
    width: 35%;
  }
}

@media only screen and (min-width: 1049px) {
  .title::after {
    width: 40%;
  }
}

/* text links */

.link {
  position: relative;
  text-decoration: none;
  color: c.$red;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: c.$red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: c.$red;
  padding: 1em 2em;
  border: 1px solid c.$red;
  border-radius: 5px;
  font-family: c.$font-mono;

  &::after {
    content: '';
    background-color: c.$button-fill;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 200ms ease-in;
  }

  &:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

// side media links

.media-links ul {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 2em;

  &::after {
    content: '';
    display: block;
    background-color: c.$white;
    height: 100px;
    width: 2px;
    margin: 10px auto 0 auto;
  }
}

.media {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 1.5em 0;
  }

  a {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transition: top 300ms;

    &:hover {
      top: -3px;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: c.$white;
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke 200ms;

    &:hover {
      stroke: c.$red;
    }
  }
}

@media only screen and (min-width: 769px) {
  .media-links ul {
    display: flex;
    bottom: -300px;
    animation: mediaLinksUp 500ms linear 1 normal forwards;
  }
}

@keyframes mediaLinksUp {
  100% {
    bottom: 0;
  }
}

// footer

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  font-family: c.$font-mono;
  font-size: 0.8em;
  padding: 0 2em;

  p {
    margin: 0;
  }

  a {
    margin-bottom: 2em;
  }
}

.footer-links ul {
  display: flex;
  flex-direction: row;

  li:not(:last-child) {
    margin-right: 1.5em;
  }

  svg {
    transition: stroke 200ms;
  }

  svg:hover {
    stroke: c.$red;
  }
}

@media only screen and (min-width: 480px) {
  footer {
    padding: 0 3em;
  }
}

@media only screen and (min-width: 769px) {
  footer {
    padding-left: 6em;
    padding-right: 4em;
  }

  .footer-links ul {
    display: none;
  }
}

// CSSTransition transitions

.fadeup-enter {
  opacity: 0;
  transform: translateY(40px);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

// section transitions

.about,
.projects {
  &.fadein {
    opacity: 0;
  }

  &.fadein-enter {
    transform: translateY(300px);

    &.fadein-active {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 500ms, transform 500ms;
      transition-delay: 200ms;
    }
  }
}

.project {
  &.slidein {
    opacity: 0;
  }

  &.slidein-enter {
    transform: translateX(-400px);

    &:nth-child(even) {
      transform: translateX(400px);
    }

    &.slidein-active {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 500ms, transform 500ms;
    }
  }
}

.contact {
  &.fadezoom {
    opacity: 0;
    transform: scale(0);
  }

  &.fadezoom-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
}
