// import fonts

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); // font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap'); // font-family: 'Fira Mono', monospace;

// variables

$font-sans: 'Rubik', sans-serif;
$font-mono: 'Fira Mono', monospace;

$black: #151515;
$light-black: #1a1a1a;
$grey: #b9b9b9;
$white: #f5f5f5;

$dark-red: #b80000;
$red: #ff2727;

$button-fill: rgba($red, 0.1);

$shadow: rgba($dark-red, 0.5);

// defaults

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

body {
  background-color: $black;
  color: $grey;
  line-height: 1.5;
  font-family: $font-sans;
  font-size: 1rem;
  font-weight: 400;
}

::selection {
  background: $dark-red;
  color: $white;
}
::-moz-selection {
  background: $dark-red;
  color: $white;
}

section {
  padding: 3.5em 0;
}

img {
  display: block;
  border-radius: 5px;
}

.filter {
  display: inline-block;
  border-radius: 5px;

  img {
    filter: grayscale(100%);
    transition: filter 200ms ease-in;

    &:hover {
      filter: none;
    }
  }
}

@media only screen and (min-width: 769px) {
  body {
    overflow: auto !important;
  }
}

// scrollbar

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-red;
}

// logo

#logo {
  color: $red;
  height: 42px;
  width: 42px;

  polygon {
    fill: none;
    stroke: currentColor;
  }

  text {
    fill: currentColor;
    stroke: none;
  }
}

// loading screen

.loading-screen {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;

  &.fade #logo {
    opacity: 0;
    top: -500px;
  }

  #logo {
    position: relative;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    transition: opacity 500ms, top 1000ms;
    transition-delay: 500ms;
  }

  text {
    visibility: hidden;
  }

  polygon {
    stroke-dasharray: 1000;
    stroke-dashoffset: 999;
    animation: draw 3s linear 0s 1 normal forwards;
    animation-play-state: paused;
  }

  &.play {
    polygon {
      animation-play-state: running;
    }

    text {
      visibility: visible;
    }
  }

  &.pause {
    polygon {
      animation-play-state: paused;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 700;
  }
}

// nav bar

.logo {
  height: 42px;
  width: 42px;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: $font-mono;
  font-size: 0.85rem;
  font-weight: 400;
  display: flex;
  padding: 0 1.5em;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($black, 0.98);
  z-index: 20;

  transition: top 300ms ease-out, box-shadow 300ms ease-in;

  &.sticky,
  &.hidden {
    position: fixed;
    height: 70px;
  }

  .button {
    padding: 0.5em 1em;
  }
}

header.sticky {
  top: 0;
  box-shadow: 0 0 20px 5px $shadow;
}

header.hidden {
  top: -100px;
  box-shadow: none;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50px;
  cursor: pointer;
  z-index: 15;

  span {
    background: $red;
    height: 3px;
    margin: 7px 0;
    border-radius: 5px;
    transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:nth-of-type(1) {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 75%;
    }

    &:nth-of-type(3) {
      width: 50%;
    }
  }
}

#ham-button {
  display: none;

  &:checked ~ span:nth-of-type(1) {
    transform-origin: top;
    transform: translate(0, 18px) rotatez(-45deg);
  }

  &:checked ~ span:nth-of-type(2) {
    transform-origin: bottom;
    width: 100%;
    transform: rotatez(45deg);
  }

  &:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 0%;
  }
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(min(70vw, 400px));
    z-index: 1;
    transform: translateX(0vw);
    transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;

    &.hidden {
      visibility: hidden;
      transform: translateX(100vw);
    }
  }
}

.mobile-nav aside nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-black;
  box-shadow: -5px 0 5px 2px $shadow;

  ul {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

    li {
      list-style-type: none;
      margin: 2em 0;

      a {
        display: block;
        font-family: $font-mono;
        text-decoration: none;
        color: $grey;
        transition: transform 200ms ease-in, color 200ms ease-in;
        transform-origin: left;
      }

      a:hover,
      a:focus {
        color: $red;
        transform: scale(1.3);
      }
    }
  }

  .resume-button {
    margin-top: 20%;
    font-size: 1.5rem;
  }
}

.links {
  display: none;
  align-items: center;

  ul li {
    display: inline-block;
    margin-right: 2em;

    a {
      color: $white;
      text-decoration: none;
      transition: color 200ms;

      &:hover {
        color: $red;
      }
    }
  }

  .resume-button {
    margin-left: 0.75em;
  }
}

.resume-button a {
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  header {
    padding: 0 3em;
  }

  .mobile-nav {
    display: none;
  }

  .logo {
    transform: translateX(-75px);
    animation: nav-animate 500ms linear 1 normal forwards;
  }

  .links {
    display: flex;

    @for $i from 1 through 3 {
      li:nth-child(#{$i}n) {
        animation-delay: #{$i * 100}ms;
      }
    }

    li {
      transform: translateX(400px);
      animation: nav-animate 500ms linear 1 normal forwards;
    }

    .resume-button {
      transform: translateX(400px);
      animation: nav-animate 500ms linear 1 normal forwards;
      animation-delay: 400ms;
    }
  }
}

.logo {
  height: 42px;
  width: 42px;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@keyframes nav-animate {
  100% {
    transform: translateX(0);
  }
}

// content

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  transition: filter 300ms ease-in-out;
}

@media only screen and (min-width: 480px) {
  #content {
    padding: 0 3em;
  }
}

@media only screen and (min-width: 769px) {
  #content {
    padding-left: 6em;
    padding-right: 4em;
  }
}

@media only screen and (max-width: 769px) {
  .blur {
    filter: blur(5px);
  }
}

/* section headings */

.title {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(1.4rem, 5vw, 2rem);
  margin: 0.25em 0 1.25em 0;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 0.5em;
    background-color: rgba($grey, 0.25);
  }
}

@media only screen and (min-width: 769px) {
  .title::after {
    width: 35%;
  }
}

@media only screen and (min-width: 1049px) {
  .title::after {
    width: 40%;
  }
}

/* text links */

.link {
  position: relative;
  text-decoration: none;
  color: $red;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: $red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $red;
  padding: 1em 2em;
  border: 1px solid $red;
  border-radius: 5px;
  font-family: $font-mono;

  &::after {
    content: '';
    background-color: $button-fill;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 200ms ease-in;
  }

  &:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

/* intro section */

.intro {
  min-height: calc(100vh - 6.25em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6.25em;
  padding-bottom: 10vh;

  h1 {
    color: $red;
    margin: 0;
    margin-bottom: 0.25em;
    font-family: $font-mono;
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 400;
  }

  h2 {
    margin: 0;
    margin-left: -4px;
    font-size: clamp(2.5rem, 8vw, 4rem);
    color: $white;
  }

  h3 {
    margin: 0.1em 0 0.75em 0;
    color: $grey;
    line-height: 0.9;
    font-size: clamp(2.5rem, 7vw, 3.75rem);
  }

  p {
    margin: 0;
    max-width: 540px;
    color: $grey;
  }

  .button {
    margin-top: 2em;
  }
}

/* about section */

.about {
  scroll-margin-top: 2em;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;

    li {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 10px;
      padding-left: 35px;
      font-family: $font-mono;
      font-size: 0.75rem;

      &::before {
        content: '▹';
        position: absolute;
        left: 0;
        color: $red;
        font-size: 2rem;
      }
    }
  }
}

.about .square-container {
  max-width: 300px;
  max-height: 300px;
}

.about-img {
  display: flex;
  position: relative;
  width: 70%;
  max-width: 300px;
  margin: 2em auto 1em auto;

  .square {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: transform 500ms;
    z-index: -1;
  }

  #square1 {
    transform: rotate(22deg);
    border: 4px solid $red;

    &.rotate {
      animation: square1 5s linear 0s infinite normal;
    }
  }

  #square2 {
    transform: rotate(67deg);
    border: 4px dotted $red;

    &.rotate {
      animation: square2 1.5s linear 0s infinite alternate;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes square1 {
  0% {
    transform: rotate(22deg);
  }
  100% {
    transform: rotate(382deg);
  }
}

@keyframes square2 {
  0% {
    transform: rotate(67deg);
  }
  100% {
    transform: rotate(-67deg);
  }
}

@media only screen and (min-width: 769px) {
  .about {
    padding-top: 0;
    scroll-margin-top: 6em;
  }

  .about > div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3em;

    .about-content {
      grid-column: 1;
    }

    .square-container {
      grid-column: 2;
      margin: auto;
    }
  }
}

/* project section */

.projects {
  scroll-margin-top: 2em;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1.75em;
  }
}

.project {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 8fr 1fr;
  gap: 1em;
  background-color: rgba($dark-red, 0.1);
}

.project-content {
  padding: 2em;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.project-title {
  margin: 0.25em 0;

  a {
    text-decoration: none;
    color: $white;
    font-size: clamp(1rem, 5vw, 1.25rem);
    transition: color 200ms;

    &:hover {
      color: $red;
    }
  }
}

.project-description p {
  margin: 2em 0;
}

.project-tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5em;

  li {
    margin-right: 0.75em;
    margin-bottom: 0.2em;
    font-family: $font-mono;
    font-size: 0.8rem;
    color: $red;
  }
}

.project-links {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    height: 20px;
    width: 20px;
    margin-right: 1em;
  }

  svg {
    fill: none;
    stroke: $grey;
    height: 20px;
    width: 20px;
    stroke-width: 3;
    transition: stroke 200ms;

    &:hover {
      stroke: $red;
    }
  }
}

.project-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    border-radius: 0;
    filter: grayscale(100%);
    transition: filter 100ms;

    &:hover {
      filter: none;
    }
  }

  &.white-border {
    border: 1px solid white;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 769px) {
  .projects {
    counter-reset: project;
    scroll-margin-top: 4em;
  }

  .project {
    background-color: transparent;

    .project-title::before {
      counter-increment: project;
      content: counter(project) ' ';
      color: $red;
      font-family: $font-mono;
      font-size: 4rem;
    }
  }

  .project-content {
    grid-column: 1 / 9;
    z-index: 5;
    padding: 0;
  }

  .project-description {
    background-color: $light-black;
    padding: 2em 1em;
    border-radius: 5px;
    margin: 1em 0;

    p {
      margin: 0;
    }
  }

  .project-image {
    grid-area: 2 / 7 / 3 / -1;
    z-index: 1;
    opacity: 1;

    img {
      border-radius: 5px;
    }
  }

  .project:nth-child(even) {
    .project-content {
      grid-column: 5 / -1;
      text-align: right;
    }

    .project-tech-list {
      justify-content: flex-end;

      li {
        margin-right: 0;
        margin-left: 0.75em;
      }
    }

    .project-links {
      justify-content: flex-end;

      a {
        margin-right: 0;
        margin-left: 1em;
      }
    }

    .project-image {
      grid-area: 2 / 1 / 3 / 7;
    }
  }
}

@media only screen and (min-width: 1049px) {
  .project {
    padding-bottom: 5em;
  }

  .project-content {
    grid-column: 1 / 8;
  }

  .project-image {
    grid-area: 1 / 7 / -1 / -1;
  }

  .project:nth-child(even) {
    .project-content {
      grid-column: 6 / -1;
    }

    .project-image {
      grid-area: 1 / 1 / -1 / 7;
    }
  }
}

/* contact section */

.contact {
  text-align: center;
  scroll-margin-top: 2em;

  h1 {
    font-size: 1rem;
    font-family: $font-mono;
    font-weight: 400;
    color: $red;
    margin-bottom: 0;
  }

  h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    margin: 0;
  }

  p {
    max-width: 500px;
    margin: 0.75em auto 3em auto;
  }
}

// side media links

.media-links ul {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 2em;

  &::after {
    content: '';
    display: block;
    background-color: $white;
    height: 100px;
    width: 2px;
    margin: 10px auto 0 auto;
  }
}

.media {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 1.5em 0;
  }

  a {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transition: top 300ms;

    &:hover {
      top: -3px;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: $white;
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke 200ms;

    &:hover {
      stroke: $red;
    }
  }
}

@media only screen and (min-width: 769px) {
  .media-links ul {
    display: flex;
    bottom: -300px;
    animation: mediaLinksUp 500ms linear 1 normal forwards;
  }
}

@keyframes mediaLinksUp {
  100% {
    bottom: 0;
  }
}

// footer

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  font-family: $font-mono;
  font-size: 0.8em;
  padding: 0 2em;

  p {
    margin: 0;
  }

  a {
    margin-bottom: 2em;
  }
}

.footer-links ul {
  display: flex;
  flex-direction: row;

  li:not(:last-child) {
    margin-right: 1.5em;
  }

  svg {
    transition: stroke 200ms;
  }

  svg:hover {
    stroke: $red;
  }
}

@media only screen and (min-width: 480px) {
  footer {
    padding: 0 3em;
  }
}

@media only screen and (min-width: 769px) {
  footer {
    padding-left: 6em;
    padding-right: 4em;
  }

  .footer-links ul {
    display: none;
  }
}

// CSSTransition transitions

.fadeup-enter {
  opacity: 0;
  transform: translateY(40px);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

// section transitions

.about,
.projects {
  &.fadein {
    opacity: 0;
  }

  &.fadein-enter {
    transform: translateY(300px);

    &.fadein-active {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 500ms, transform 500ms;
      transition-delay: 200ms;
    }
  }
}

.project {
  &.slidein {
    opacity: 0;
  }

  &.slidein-enter {
    transform: translateX(-400px);

    &:nth-child(even) {
      transform: translateX(400px);
    }

    &.slidein-active {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 500ms, transform 500ms;
    }
  }
}

.contact {
  &.fadezoom {
    opacity: 0;
    transform: scale(0);
  }

  &.fadezoom-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
}
